#left-panel {
	border-right: 1px dotted #CACACA;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 500px;
	margin-bottom: 20px;
}

#client-testimonial-header {
	border-bottom: 1px dotted #CACACA;
	padding-top: 20px;
	padding-bottom: 15px;
}

#practices-header {
	border-bottom: 1px dotted #CACACA;
	padding-bottom: 20px;
}

.practice-item {
	border-bottom: 1px dotted #CACACA;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
